.testimonials {
    .hero {
        position: relative;
        height: 100dvh;

        .heroContent {
            width: max-content !important;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            h1 {
                text-transform: uppercase;
            }
        }
    }

    .reviewItem {
        border-radius: 0.625rem;
        text-transform: capitalize;
    }
}
