.contact {
    .hero {
        position: relative;
        height: 100dvh;

        .heroContent {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -40%);

            .socialIcon {
                width: fit-content;

                &:hover {
                    cursor: url("/cursor/click.png"), default;
                    transform: translateY(-0.625rem);
                }
            }

            .toFormBtn {
                padding: 0.625rem;
                border-radius: 0.625rem;
                color: var(--secondary);

                &:hover {
                    cursor: url("/cursor/click.png"), default;
                }
            }
        }
    }
}
