.contact {
    .hero {
        position: relative;
        height: 100dvh;

        .heroContent {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -40%);

            .socialIcon {
                width: fit-content;

                &:hover {
                    cursor: url("/cursor/click.png"), default;
                    transform: translateY(-0.625rem);
                }
            }

            .toFormBtn {
                padding: 0.625rem;
                border-radius: 0.625rem;
                color: var(--secondary);

                &:hover {
                    cursor: url("/cursor/click.png"), default;
                }
            }
        }
    }

    .contactForm {
        border-radius: 0.625rem;
        position: relative;

        .img {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            img {
                width: 90%;
            }
        }

        .inputContainer {
            label {
                display: block;
                text-transform: capitalize;
                margin-bottom: 0.313rem;

                &:hover {
                    cursor: url("/cursor/cursor.png"), default;
                }
            }

            input,
            textarea {
                width: 100%;
                border-radius: 0.625rem;
                padding: 0.313rem;
                border: none;
                outline: none;
                color: var(--secondary);

                &:hover {
                    cursor: url("/cursor/text.png"), default;
                }

                &:focus {
                    outline: none;
                }
            }
        }

        .submitBtn {
            width: fit-content;
            padding: 0.313rem 0.625rem;
            border-radius: 0.625rem;
            color: var(--secondary);
            text-transform: capitalize;

            &:hover {
                cursor: url("/cursor/click.png"), default;
            }
        }
    }
}
