.contact {
    .hero {
        position: relative;
        height: 100dvh;

        .heroContent {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
