.card-swap-container {
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    overflow: visible;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0.625rem;
    text-align: center;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.4);
    transform-style: preserve-3d;
    will-change: transform;
    backface-visibility: hidden;

    .imgLayer {
        position: absolute;
        inset: 0;
    }

    .content {
        background-color: var(--primary) !important;
        box-shadow: 0 0.25rem 0.313rem var(--primary);
        border-radius: 15px;
        color: var(--secondary);
    }
}

@media (max-width: 768px) {
    .card-swap-container {
        transform: scale(0.7);
    }
}

@media (max-width: 480px) {
    .card-swap-container {
        transform: scale(0.5);
    }
}
