.about {
    .hero {
        position: relative;
        height: 100dvh;

        .heroContent {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            h1 {
                width: max-content;
            }

            .scrollDownBtn {
                display: block;
                text-decoration: none;
                text-transform: capitalize;
                color: var(--secondary);
                padding: 0.625rem;
                width: fit-content;
                border-radius: 0.938rem;
                transition: all 0.3s ease-in-out;

                &:hover {
                    filter: drop-shadow(0 0 0.313rem var(--secondary));
                }
            }
        }
    }

    .spotLightCards {
        h2 {
            text-transform: uppercase;
        }

        .Spotcard {
            h3 {
                text-transform: capitalize;
            }
        }
    }

    .stack {
        h2 {
            text-transform: capitalize;
        }
    }
}
