.about {
    .hero {
        position: relative;
        height: 100dvh;

        .heroContent {
            width: max-content !important;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            h1 {
                width: max-content;
                font-family: "audiowide" !important;
            }

            .aboutBtn {
                &:hover {
                    svg {
                        transform: rotate(90deg);
                    }
                }
            }
        }

        .avatarImg {
            position: absolute;
            top: 15%;
            left: 50%;
            transform: translate(-50%, -25%);
        }
    }

    .spotLightCards {
        h2 {
            text-transform: uppercase;
            font-family: "audiowide" !important;
        }

        .Spotcard {
            h3 {
                font-family: "audiowide" !important;
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: capitalize;

                .step {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    width: 1.875rem;
                    height: 1.875rem;
                    font-weight: bold;
                    margin-inline-end: 0.625rem;
                    border-radius: 50%;
                    background-color: var(--secondary);
                    color: var(--primary);
                    flex-shrink: 0;
                    line-height: 1;
                }
            }
        }
    }
}
