.about {
    .hero {
        position: relative;
        height: 100dvh;

        .heroContent {
            width: max-content !important;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            h1 {
                width: max-content;
            }

            .scrollDownBtn {
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                text-transform: capitalize;
                color: var(--secondary);
                padding: 0.625rem;
                width: fit-content;
                border-radius: 0.938rem;
                transition: all 0.3s ease-in-out;

                svg {
                    font-size: 1.25rem;
                    margin: 0rem 0.313rem;
                    transition: all 0.3s ease-in-out;
                }

                &:hover {
                    cursor: url("/cursor/click.png"), default;

                    svg {
                        transform: rotate(90deg);
                    }
                }
            }
        }

        .avatarImg {
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -20%);
            opacity: 0.2;
        }
    }

    .spotLightCards {
        h2 {
            text-transform: uppercase;
        }

        .Spotcard {
            h3 {
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: capitalize;

                .step {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    width: 1.875rem;
                    height: 1.875rem;
                    font-weight: bold;
                    margin-inline-end: 0.625rem;
                    border-radius: 50%;
                    background-color: var(--secondary);
                    color: var(--primary);
                    flex-shrink: 0;
                    line-height: 1;
                }
            }
        }
    }

    .stack {
        h2 {
            text-transform: capitalize;
        }
    }
}
