:root {
    --primary: #000;
    --secondary: #fff;
    --gray: #a8a8a8;
    font-size: 16px;
}

@font-face {
    font-family: "josefinSans";
    src: url("/fonts/JosefinSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    max-width: 100dvw;
}

body {
    position: relative;
    background-color: var(--primary) !important;
    color: var(--secondary) !important;
    font-family: "josefinSans" !important;
    cursor: url("/cursor/cursor.png"), default;
}

section {
    margin: 0 !important;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0 !important;
    margin: 0 !important;
}

a {
    text-decoration: none !important;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;

    &:hover {
        cursor: url("/cursor/click.png"), default;
    }
}

.glassmorphism {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1.25rem);
    -webkit-backdrop-filter: blur(1.25rem);
    border: 0.063rem solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1);
}

form {
    border-radius: 0.625rem;
    position: relative;

    h3 {
        text-transform: capitalize;
    }

    .img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        img {
            width: 90%;
        }
    }

    .inputContainer {
        label {
            display: block;
            text-transform: capitalize;

            &:hover {
                cursor: url("/cursor/cursor.png"), default;
            }
        }

        input,
        textarea {
            width: 100%;
            border-radius: 0.625rem;
            padding: 0.313rem;
            margin: 0.313rem 0rem;
            border: none;
            outline: none;
            color: var(--secondary);

            &:hover {
                cursor: url("/cursor/text.png"), default;
            }

            &:focus {
                outline: none;
            }
        }
    }

    .submitBtn {
        width: fit-content;
        padding: 0.313rem 0.625rem;
        border-radius: 0.625rem;
        color: var(--secondary);
        text-transform: capitalize;

        &:hover {
            cursor: url("/cursor/click.png"), default;
        }
    }
}

::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/*responsive*/

@media (max-width: 768px) {
    :root {
        font-size: 12px;
    }
}
