:root {
    --primary: #000;
    --secondary: #fff;
    --gray: #a8a8a8;
    font-size: 16px;
}

@font-face {
    font-family: "jost";
    src: url("/fonts/Jost-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "cairo";
    src: url("/fonts/Cairo-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    max-width: 100dvw;
}

body {
    position: relative;
    background-color: var(--primary) !important;
    color: var(--secondary) !important;
    font-family: "jost", "cairo" !important;
    cursor: url("/cursor/cursor.png"), default;
}

section {
    margin: 0 !important;
}

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0 !important;
    margin: 0 !important;
}

a {
    text-decoration: none !important;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;

    &:hover {
        cursor: url("/cursor/click.png"), default;
    }
}

img {
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: auto;
}

.glassmorphism {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1.25rem);
    -webkit-backdrop-filter: blur(1.25rem);
    border: 0.063rem solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1);
}

.basicBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.625rem;
    margin: 0 0.313rem;
    border-radius: 0.625rem;
    color: var(--secondary);
    font-size: 1.25rem;
    text-transform: capitalize;

    svg {
        margin: 0 0.313rem;
        transition: all 0.3s ease-in-out;
    }
}

form {
    border-radius: 0.625rem;
    position: relative;

    h3 {
        text-transform: capitalize;
    }

    .img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .inputContainer {
        label {
            display: block;
            text-transform: capitalize;
            font-weight: bold;

            &:hover {
                cursor: url("/cursor/cursor.png"), default;
            }
        }

        input,
        textarea {
            width: 100%;
            border-radius: 0.625rem;
            padding: 0.625rem;
            margin: 0.313rem 0rem;
            border: none;
            outline: none;
            color: var(--secondary);
            transition: all 0.3s ease-in-out;

            &:hover {
                cursor: url("/cursor/text.png"), default;
            }

            &:focus {
                outline: none;
                box-shadow: 0 0.25rem 0.625rem var(--primary);
            }

            &::placeholder {
                color: var(--secondary);
                text-transform: capitalize;
                opacity: 0.7;
            }
        }
    }

    .submitBtn {
        width: 100%;
        padding: 0.313rem 0.625rem;
        border-radius: 0.625rem;
        color: var(--secondary);
        text-transform: capitalize;
        transition: all 0.3s ease-in-out;

        &:hover {
            cursor: url("/cursor/click.png"), default;
            transform: translateY(-0.313rem);
            box-shadow: 0 0.25rem 0.313rem var(--primary);
        }
    }
}

.contextMenu {
    z-index: 99999;
    overflow: hidden;
    border-radius: 0.625rem;
    min-width: 200px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1.25rem);

    ul {
        list-style: none;
        padding: 0 !important;

        a {
            color: var(--secondary);
        }

        li {
            display: flex;
            align-items: center;
            font-size: 1rem;
            padding: 0.625rem;
            cursor: url("/cursor/click.png"), default;
            text-transform: capitalize;
            transition: all 0.2s ease-in-out;

            img {
                width: 1.25rem;
                height: 1.25rem;
                margin: 0rem 0.313rem;
            }

            &:hover {
                font-weight: bold;
                background-color: var(--secondary);
                color: var(--primary);
            }
        }
    }
}

.projectCard {
    position: relative;
    border-radius: 0.625rem;
    overflow: hidden;
    border: none;
    transition: all 0.3s ease-in-out;

    .toProdDetailsBtn {
        position: absolute;
        top: 0.313rem;
        right: 0.313rem;
        font-size: 1.25rem;
        border-radius: 0.313rem;
        z-index: 111;
        cursor: url("/cursor/click.png"), default;
        transition: all 0.3s ease-in-out;
    }

    .img {
        overflow: hidden;
        cursor: url("/cursor/click.png"), default;
        img {
            width: 100%;
            height: auto;
        }
    }

    .details {
        text-transform: capitalize !important;

        .tags {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 0.313rem;
            margin-top: 0.5rem;

            .tag {
                border-radius: 0.313rem;
            }
        }
    }

    &:hover {
        .toProdDetailsBtn {
            background-color: var(--primary);
        }
    }
}

.loader {
    background-color: #00000000;
    backdrop-filter: blur(1.25rem);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11111;

    img {
        margin: auto !important;
        transition: all 0.3s ease-in-out;
        animation: loader 1s infinite;
    }
}

.submitToast {
    position: fixed;
    top: 10%;
    width: fit-content !important;
    margin: 0 auto;
    border-radius: 0.938rem;
    backdrop-filter: blur(1.875rem);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.313rem;
    text-transform: capitalize;
    z-index: 99999;
}

.errorToast {
    svg {
        font-size: 1.25rem;
        color: #fd0000;
    }
}

.successToast {
    svg {
        font-size: 1.25rem;
        color: #2bfb37;
    }
}

::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@keyframes loader {
    0% {
        filter: drop-shadow(0 0 0.313rem var(--secondary));
    }
    50% {
        filter: drop-shadow(0 0 0.625rem var(--secondary));
    }
    100% {
        filter: drop-shadow(0 0 0.313rem var(--secondary));
    }
}

/*responsive*/
@media (max-width: 768px) {
    :root {
        font-size: 14px;
    }
}
