:root {
    --primary: #000;
    --secondary: #fff;
    --gray: #a8a8a8;
    font-size: 16px;
}

@font-face {
    font-family: "josefinSans";
    src: url("/fonts/JosefinSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    max-width: 100dvw;
}

body {
    position: relative;
    background-color: var(--primary) !important;
    color: var(--secondary) !important;
    font-family: "josefinSans" !important;
}

section {
    margin: 0 !important;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0 !important;
    margin: 0 !important;
}

a {
    text-decoration: none !important;
    transition: all 0.3s ease-in-out;
}

.glassmorphism {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0.625rem);
    -webkit-backdrop-filter: blur(0.625rem);
    border: 0.063rem solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/*responsive*/

@media (max-width: 768px) {
    :root {
        font-size: 12px;
    }
}
