.home {
    height: 100dvh;
    position: relative;
    text-transform: capitalize;

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
