.home {
    height: 100dvh;
    position: relative;
    text-transform: capitalize;

    .content {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -30%);
        /*border-radius: 0.938rem;*/

        .homeHeroBtn {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            text-transform: capitalize;
            padding: 0.625rem;
            width: fit-content;
            border-radius: 0.938rem;
            transition: all 0.3s ease-in-out;

            a {
                color: var(--secondary);

                svg {
                    font-size: 1.25rem;
                    margin: 0rem 0.313rem;
                    transition: all 0.3s ease-in-out;
                }
            }

            &:hover {
                cursor: url("/cursor/click.png"), default;

                svg {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    .whatsAppBtn {
        position: absolute;
        bottom: 20%;
        right: 2%;
        transform: translate(-20%, -2%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.125rem;
        height: 3.125rem;
        border-radius: 50%;
        background-color: #00ff51;
        border: none;
        transition: all 0.3s ease-in-out;

        a {
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                color: var(--secondary);
                font-size: 1.875rem;
                transition: all 0.3s ease-in-out;
            }
        }

        &:hover {
            background-color: var(--secondary);
            cursor: url("/cursor/click.png"), default;
            a {
                svg {
                    color: #00ff51;
                }
            }
        }
    }

    img {
        position: absolute;
        bottom: 0%;
        right: 5%;
        transform: translate(-5%);
    }
}
