.contact {
    .hero {
        position: relative;
        height: 100dvh;

        .heroContent {
            width: max-content !important;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -40%);

            .socialIcon {
                width: fit-content;

                &:hover {
                    cursor: url("/cursor/click.png"), default;
                    transform: translateY(-0.625rem);
                }
            }

            .contactBtn {
                &:hover {
                    svg {
                        transform: rotate(90deg);
                    }
                }

                &[dir="rtl"]:hover {
                    svg {
                        transform: rotate(-90deg);
                    }
                }
            }
        }
    }
}
