.hero {
    position: relative;
    height: 100dvh;

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: capitalize;

        .scrollBtn {
            background-color: transparent;
            color: var(--secondary);
            border: none;
            cursor: pointer;
            animation: scrollBtn 2s ease-in-out infinite;

            svg {
                font-size: 2.188rem;
            }
        }
    }
}

@keyframes scrollBtn {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0);
    }
}
