.home {
    height: 100dvh;
    position: relative;
    text-transform: capitalize;

    .content {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -30%);
        width: max-content !important;

        .homeBtn {
            &:hover {
                svg {
                    transform: rotate(-45deg);
                }
            }

            &[dir="rtl"]:hover {
                svg {
                    transform: rotate(45deg);
                }
            }
        }
    }

    .img {
        position: absolute;
        right: 0%;
        bottom: 0%;
        width: fit-content;
    }
}

.homeBtn[dir="rtl"] {
    &:hover {
        svg {
            transform: rotate(45deg);
        }
    }
}
