.notFound {
    height: 100dvh;
    width: 100dvw;
    position: relative;
    text-transform: capitalize;

    .content {
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%);
        width: max-content !important;
    }
}
