.notFound {
    height: 100dvh;
    position: relative;
    text-transform: capitalize;

    .content {
        /*position: fixed;*/
        /*top: 50%;*/
        /*left: 50%;*/
        /*transform: translate(-50%);*/
        width: fit-content !important;
        border-radius: 0.938rem;

        .goHomeBtn {
            width: fit-content;
            padding: 0.625rem;
            border-radius: 0.938rem;

            a {
                color: var(--secondary);
            }
        }
    }
}
