.notFound {
    height: 100dvh;
    width: 100dvw;
    position: relative;
    text-transform: capitalize;

    .content {
        position: fixed;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -30%);
        width: max-content !important;

        .goHomeBtn {
            width: fit-content;
            padding: 0.625rem;
            border-radius: 0.938rem;

            a {
                color: var(--secondary);
            }
        }
    }
}
