.testimonials {
    .hero {
        position: relative;
        height: 100dvh;

        .avatarImg {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -10%);
        }

        .heroContent {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -70%);

            h1 {
                text-transform: uppercase;
            }
        }
    }

    .reviewItem {
        border-radius: 0.625rem;
        text-transform: capitalize;
    }
}
