.testimonials {
    .hero {
        position: relative;
        height: 100dvh;

        .avatarImg {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -10%);
        }

        .heroContent {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -70%);

            h1 {
                text-transform: uppercase;
            }
        }
    }

    .reviewItem {
        border-radius: 0.625rem;
        text-transform: capitalize;
    }
}

.submitToast {
    position: fixed;
    bottom: 5%;
    width: fit-content !important;
    margin: 0 auto;
    border-radius: 0.938rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.313rem;
    z-index: 99999;
}

.errorToast {
    svg {
        font-size: 1.25rem;
        color: #fd0000;
    }
}

.sucessToast {
    svg {
        font-size: 1.25rem;
        color: #2bfb37;
    }
}
