.navContainer {
    padding: 0.625rem 0rem;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1111;

    .navDock {
        width: max-content !important;
        padding: 0.313rem 0.625rem;
        margin: auto;
        border-radius: 0.938rem;
        backdrop-filter: blur(10px);

        .navItem {
            padding: 0.313rem 0.625rem;
            width: fit-content !important;
            border-radius: 0.625rem;
            color: var(--secondary);
            text-transform: capitalize;
            transition: all 0.3s ease-in-out;

            &:hover {
                filter: drop-shadow(0 0 0.313rem var(--secondary));
                cursor: url("/cursor/click.png"), default;
            }
        }

        .active {
            background-color: var(--secondary);
            color: var(--primary);
            filter: drop-shadow(0 0 0.313rem var(--secondary));
            font-weight: bold;
            transition: all 0.3s ease-in-out;
        }
    }
}
